@import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');


html{
    font-family: 'Rufina', serif;
}

body{
    margin: 0;
}


main{
    margin: 5%;
}

header{
    color: rgb(41, 41, 41);
    margin: 0;
    margin-left: 2%;
    text-align: center;
}

header h1{
    font-size: 2rem;
    font-weight: 700;
}



.carousel-container {
    overflow: hidden;
    margin: 0;
    padding: 0;
}
  
.slide {
    display: none;
    text-align: center;
}
  
img {
    width: 100%;
    height: auto;
}

.Hotspot{
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: none;
    background-color: #ffffff;
    box-sizing: border-box;
    font-family: 'Rufina', serif;
}

.HotspotAnnotation{
    display: none;
    background-color: #ffffff;
    position: absolute;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    margin: 1rem;
    box-shadow: 5px 5px #000000;
    font-size: 1rem;

}

.Hotspot:hover >.HotspotAnnotation{
    display: block;
}

.visible {
    display: inline-block;
}

model-viewer{
    width: 600px;
    height: 600px;
}

.productgrid{
    display: flex;
    gap: 30px;
    margin-bottom: 3rem;
}

#price{
    text-align: right;
    margin-right: 30px;
}

#product-image{
    margin-top: 5%;
    width: 200px;
}

#product-image:hover{
    z-index: 0;
    scale: 200%;
}

.controls{
    padding-top: 0.5rem;
}

select, option{
    font-family: 'Rufina', serif;
}

select{
    padding: 10px;
}

#match-image{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 0;
}

#product-image{
    padding: 0;
    margin: 0;
}